

a.add, input.add {
	font-family:Oswald;
	color:#000;
	display:inline-block;
	margin-left:30px;
	text-decoration:none;
}

.item_modify{
	float:left;
	padding-right:15px;
	position:relative;
	top:10px;
}

.movie_title, label {
	font-size: 1.5em;
	display:inline;
	font-family: Open Sans;
}

input#movie_title {
	width:500px;
	height:35px;
	background-color:#F2F2F2;
	border:3px solid #000;
	border-radius:10px;
	font-family:Oswald;
	font-size:1.2em;
	padding: 0px 6px 0px 6px;
	float:left;
	margin-right:10px;
}

input.add{
	height:40px;
}

.filters{
	position: relative;
	top: -62px;
	left: 240px;
	p {display:inline-block;}
	#filters {display:inline-block;}	
}

.list {
	position:relative;
	left:-40px;
	li {list-style-type:none;}
}

#wrapper {
	width:80%;
	margin:0 auto;
}

.delete{
	height:20px;
	position:relative;
}

.edit{
	height:15px;
	position:relative;
	top:-2px;
}

.back{
	height:32px;
	position:relative;
	top:-5px;
	left:10px;
}

select{
	z-index:1;
}

h1 {
	display: inline-block;
}